<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GREEN PARIS</title>
</head>
<body>
    <h1>GREEN PARIS</h1>
    <h2>SPARQL Queries</h2>
    <p>Introduce the query in the box bellow</p>
    <form action="/query" method="get">
        <textarea id="textbox" name="textbox" rows="8" cols="50"></textarea>
        <br><br>
        <button type="submit" name="button">Execute Query</button>
    </form>
</body>
</html>