{%extends "layout.html" %}

{% block content%}
<h1>COMPANIES </h1>
<h2>Descripcion: Quermos saber las compañias que tienen una bas de bicicletas en dicha calle.</h2> <br>
<form action="/Companies/Request" method="GET">
    <label for="street" >Escriba aquí el nombre de la calle: </label>
    <input type="text"  name="street" id="street" placeholder="Escriba aquí el nombre de la calle" />
    <button type="submit">Enviar</button>
</form>
<h2>LA SOLUCIÓN: </h2>
<ul>
    {% for dato in data.resultados %}
        <li>{{ dato }}</li>
    {% endfor %}
</ul>
{% endblock %}